.skills_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-top: 8rem;
}

.skills_container > div {
    background: var(--primary-blue);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent ;
    transition: var(--transition);
}

.skills_container > div:hover {
    background: transparent;
    border-color: var(--primary-blue) ;
    cursor: default;
}

.skills_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--secondry-blue);
}

.skills_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.skills_details {
    display: flex;
    gap: 1rem;

}

.skill_details-icon {
    margin-top: 6px;
    color: var(--secondry-blue);
}

/*   MEDIUM   */

@media screen and (max-width: 1024px) {



    .skills_container {
        grid-template-columns: 1fr;
    }

    .skills_container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .skills_content {
        padding: 1rem;
    }
}

/*    SMALL   */


@media screen and (max-width: 600px) {

    .skills {
        height: 100vh;
    }


    .skills_container {
        gap: 1rem;
    }

    .skills_container > div {
        width: 100%;
        padding: 2rem 1rem;
    }

    .skills {
        height: 130vh;
    }
}